<form class="example-form">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Primeiro Bimestre</mat-label>
    <textarea matInput placeholder="Insira a nota do primeiro bimestre" name="message" [(ngModel)]="boletim.bimestre1"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Segundo Bimestre</mat-label>
    <textarea matInput placeholder="Insira a nota do segundo bimestre" name="message" [(ngModel)]="boletim.bimestre2"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Terceiro Bimestre</mat-label>
    <textarea matInput placeholder="Insira a nota do terceiro bimestre" name="message" [(ngModel)]="boletim.bimestre3"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Quarto Bimestre</mat-label>
    <textarea matInput placeholder="Insira a nota do quarto bimestre" name="message" [(ngModel)]="boletim.bimestre4"></textarea>
  </mat-form-field>

  <button mat-raised-button (click)="calcular()">Calcular</button>

  <div *ngIf="calcular" id="resultado">
    {{mensagem}}
  </div>

</form>

