<header>
  <h1>Help <span class="student">Student</span> - Calcule sua média</h1>
</header>

<form class="example-form" (change)="calcular()">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Primeiro Bimestre</mat-label>
    <textarea matInput placeholder="Insira a nota do primeiro bimestre" name="message" [(ngModel)]="boletim.bimestre1"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Segundo Bimestre</mat-label>
    <textarea matInput placeholder="Insira a nota do segundo bimestre" name="message" [(ngModel)]="boletim.bimestre2"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Terceiro Bimestre</mat-label>
    <textarea matInput placeholder="Insira a nota do terceiro bimestre" name="message" [(ngModel)]="boletim.bimestre3"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Quarto Bimestre</mat-label>
    <textarea matInput placeholder="Insira a nota do quarto bimestre" name="message" [(ngModel)]="boletim.bimestre4"></textarea>
  </mat-form-field>

  <div [hidden]="visible" id="resultado">
    <div (mouseover)="changeText=true" (mouseout)="changeText=false">
      <span *ngIf="!changeText">Segure aqui para visualizar a média</span>
      <span *ngIf="changeText">{{mensagem}}</span>
    </div>
  </div>

  <div class="bg">
    <img src="/assets/image/student.png" class="img-bg">
  </div>

</form>

