@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');

body{
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}

table, th, tbody{
    margin: 0 auto;
    border: solid 1px grey;
    color:#05848d;
    background-color: aliceblue;
    font-weight: bold;
    border-collapse: collapse;
    padding: 10px;
}

td{
    padding: 8px;
}

tr:nth-child(odd){
    background-color: rgba(187, 215, 248, 0.645);
}