/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(to right, #36d1dc, #5b86e5);
    color: white;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
}
